<header style='background: rgb(249, 249, 249);'>
  <div
    style='
    margin: auto;
    max-width: 600px;
    padding: 32px;
    width: 100%;
    text-align: center;
    color: rgb(130, 140, 163);
    border-top: rgb(130, 140, 163);'
  >
    Store Manager
  </div>
</header>
<main
  style='
    margin: auto;
    max-width: 600px;
    padding: 32px;
    text-align: center;
    color: #000;'
>
  <h1>Recuperar senha</h1>

  <p>
    Ola
    {{name}}, Ouvimos dizer que você perdeu sua senha. Desculpe por isso! Mas
    não se preocupe! Você pode usar o seguinte botão para redefinir sua senha:
  </p>

  <a target='_blank' href='{{link}}'>
    Recuperar senha
  </a>

  <p>
    Se você não usar este link dentro de 1 hora, ele irá expirar.
  </p>

</main>
<footer style='background: rgb(249, 249, 249);'>
  <div
    style='
    margin: auto;
    max-width: 600px;
    padding: 32px;
    width: 100%;
    text-align: center;
    color: rgb(130, 140, 163);
    border-top: rgb(130, 140, 163);'
  >
    <ul class='style__List-sc'>
      <li
        style='display: inline-block;margin-right: 16px;'
        class='style__Item-sc'
      >
        <a
          href='https://github.com/PetersonFonsec'
          target='_blank'
          rel='noreferrer'
        >
          <img
            height='24px'
            width='24px'
            src='https://peterson-site.cdn.prismic.io/peterson-site/0fa42aec-8696-43e8-8cfc-a2285fb4ed71_github.svg'
            alt='Link para o meu github'
          />
        </a>
      </li>

      <li
        style='display: inline-block;margin-right: 16px;'
        class='style__Item-sc'
      >
        <a
          href='https://www.linkedin.com/in/peterson-fonseca-759203174/'
          target='_blank'
          rel='noreferrer'
        >
          <img
            height='24px'
            width='24px'
            src='https://peterson-site.cdn.prismic.io/peterson-site/a4d340b4-9c52-4abf-b7a5-434505dac5b7_linkedin.svg'
            alt='Link para o meu linkdin'
          />
        </a>
      </li>

      <li
        style='display: inline-block;margin-right: 16px;'
        class='style__Item-sc'
      >
        <a
          href='https://www.instagram.com/petersonf_simiao/'
          target='_blank'
          rel='noreferrer'
        >
          <img
            height='24px'
            width='24px'
            src='https://peterson-site.cdn.prismic.io/peterson-site/acad3134-e084-4114-aaa7-0b2f6002a8c0_instagram.svg'
            alt='Link para o meu instagram'
          />
        </a>
      </li>

      <li
        style='display: inline-block;margin-right: 16px;'
        class='style__Item-sc'
      >
        <a
          href='https://api.whatsapp.com/send?phone=5511977288479'
          target='_blank'
          rel='noreferrer'
        >
          <img
            height='24px'
            width='24px'
            src='https://peterson-site.cdn.prismic.io/peterson-site/ccea5624-fe78-4f2c-a222-839c7972a79e_whatsapp.svg'
            alt='Link para o me whatsapp'
          />
        </a>
      </li>
    </ul>
    <hr />
    © 2023 Peterson F. Simião. Todos os direitos reservados.
  </div>
</footer>